@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(banner.jpg);
	font-family: "Roboto", sans-serif;
}
.mb-5{
	color: white;
}
.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
	
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
	
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 1px solid #fff;
}
.btn-btn-primary{
	background: linear-gradient(to right, #622cc6, #fd0067);
	color: white;
	border-radius: 5px;
	border: 0 solid #fff;
	height: 37px;
}
[aria-controls="account"][aria-selected="true"] {
	background: linear-gradient(to right, #622cc6, #fd0067);
	color: white;
  }
[aria-controls="password"][aria-selected="true"] {
	background: linear-gradient(to right, #622cc6, #fd0067);
	color: white;
  }
[aria-controls="security"][aria-selected="true"] {
	background: linear-gradient(to right, #622cc6, #fd0067);
	color: white;
  }
[aria-controls="application"][aria-selected="true"] {
	background: linear-gradient(to right, #622cc6, #fd0067);
	color: white;
  }
[aria-controls="notification"][aria-selected="true"] {
	background: linear-gradient(to right, #622cc6, #fd0067);
	color: white;
  }
